{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block arrow %}
<div class="container-fluid">
    <a href="{% url 'products' %}"><i class="fas fa-long-arrow-alt-left"></i></a>
</div>
{% endblock %}

{% block content %}

<div class="row row-flex">
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-8">

        <div class="card">
            <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
            <hr>
            <div class="container">
                <h3 class="product-name">{{ product.name }}</h3>
                <p class="product-description">
                    {{ product.description }}
                </p>
                <div>
                    <span class="product-price">€{{ product.price }}&nbsp;&nbsp;</span>
                    <span>Stock: {{ product.stock }}&nbsp;</span>
                    {% if avg_rating >= 0 %}
                    <span class="product-price">Average Rating: {{ avg_rating.rating__avg|floatformat }}</span>
                    {% endif %}
                </div>
            </div>

            <div class="container">
                <form class="inform" method="post" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="quantity" type="number" min="1" max="999" class="form-control"
                            placeholder="Quantity">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="submit">Add</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 review-text">
        {% if user.is_authenticated %}
        <h1>Review this product</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | as_bootstrap }}
            <button type="submit" class="btn btn-info">Save</button>
        </form>
        <p>{{ review.rating }}</p>
        {% else %}
        <h1>Please log in to leave a product review</h1>
        {% endif %}
    </div>

</div>
<div class="row review-text">
    <div class="col-12">
        <h3>Product Reviews</h3>
    </div>
    {% for review in reviews %}
    <div class="col-4">
        <p>{{ review.created }}</p>
    </div>
    <div class="col-4">
        <p>{{ review.comment }}</p>
    </div>
    <div class="col-2">
        <p>Rating: {{ review.rating }}</p>
    </div>
    <hr>
    {% endfor %}
</div>
{% endblock %}