{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block head_js %}
<script type="text/javascript" src="{% static 'js/static.js' %}"></script>
{% endblock head_js %}

{% block arrow %}
<div class="container-fluid">
    <a href="{{ request.META.HTTP_REFERER }}"><i class="fas fa-long-arrow-alt-left"></i></a>
</div>
{% endblock %}

{% block content %}

<div class="row row-flex">
    <div class="col-12">
        <div class="card">
            <div class="product-image-detail" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
            <hr>
            <div class="container">
                <h3 class="product-name-detail">{{ product.name }}</h3>
                <!-- https://www.viralpatel.net/dynamically-shortened-text-show-more-link-jquery/ -->
                <p class="product-description-detail more">
                    {{ product.description }}
                </p>
                <div class="product-data-detail">
                    <span class="product-price-detail">€{{ product.price }}</span>
                    {% if product.stock > 0 and product.cart_stock > 0 %}
                    <span class="product-stock-detail text-center">In Stock</span>
                    {% else %}
                    <span class="product-stock-detail text-center">Out of Stock</span>
                    {% endif %}
                    {% if avg_rating.rating__avg > 0 %}
                    <span class="product-rating-detail d-flex justify-content-end"><small>Rating:</small>
                        {{ avg_rating.rating__avg|floatformat }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="container">
                <form class="inform" method="post" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    {% if product.stock > 0 and product.cart_stock > 0 %}
                    <div class="input-group">
                        <input name="quantity" type="number" min="1" max="{{ product.cart_stock }}" class="form-control"
                            value="1">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="submit">Add</button>
                        </span>
                        {% else %}
                        <div class="input-group">
                            <input name="quantity" type="number" min="1" max="{{ product.cart_stock }}"
                                class="form-control" placeholder="Out of Stock" disabled>
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="submit" disabled>Add</button>
                            </span>
                        </div>
                    </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 review-text">
            {% if user.is_authenticated %}
            <h1>Review this product</h1>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | as_bootstrap_horizontal }}
                <div class="btn-review">
                    <button type="submit" class="btn btn-info">Save</button>
                </div>
            </form>
        </div>
        <div class="col-2 offset-md-6">
            <p>{{ review.rating }}</p>
        </div>
        <div class=col-12>
            {% else %}
            <h1>Please log in to leave a review</h1>
            {% endif %}
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="col-12 review-text">
        <h3>Product Reviews</h3>
    </div>
    <hr>
    {% for review in reviews %}
    <div class="row review-text">
        <div class="col-4">
            <p>Left by <span style="color:tomato">{{ review.user }}</span> :&nbsp;{{ review.created }}</p>
        </div>
        <div class="col-6">
            <p>{{ review.comment }}</p>
        </div>
        <div class="col-2">
            <p>Rating: {{ review.rating }}</p>
        </div>
    </div>
    <hr>
    {% endfor %}
</div>

{% endblock %}