{% extends 'base.html' %}

{% load static from staticfiles %}
{% load bootstrap_tags %}
​
{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock head_js %}

{% block arrow %}
<div class="container-fluid">
    <a href="/products/all_products/"><i class="fas fa-long-arrow-alt-left"></i></a>
</div>
{% endblock %}

{% block content %}

<table class="table table-active table-responsive-sm table-custom">
    <thead>
        <tr>
            <th scope="col">Item</th>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    {% for item in cart_items %}
    <tr class="caption">
        <td>
            <div class="thumbimage" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')"></div>
        </td>
        <td>{{ item.product.name }}</td>
        <td>{{ item.quantity }}</td>
        <td> €{{ item.product.price }}</td>
        <td>
            <form class="inform" method="post" action="{% url 'remove_from_cart' item.product.id %}">
                {% csrf_token %}
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="close" type="submit"><span aria-hidden="true">&times;</span></button>
                    </span>
                </div>
            </form>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="3"> </td>
        <td> Total: €{{ total }}</td>
    </tr>
</table>

<div class="container payment_form review-text">
    <form class="form-group form-row" method="POST" id="payment-form" action="{% url 'checkout' %}">


        <div id="credit-card-errors" style="display: none">
            <div class="alert-message block-message error" id="stripe-error-message"></div>
        </div>

        <div class="col-md-4">
            <h4>Billing Details</h4>
            {{ order_form|as_bootstrap_inline }}
        </div>

        <div class="col-md-4 offset-md-1">
            <h4>Card Details</h4>
            {{ payment_form|as_bootstrap }}
        </div>
        {% csrf_token %}
        <div class="col-12 d-flex justify-content-center">
            <input class="btn btn-primary" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
        </div>
    </form>
</div>

{% endblock %}