{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %} Registration Page {% endblock %}

{% block page_heading %} Registration {% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 custom-login">
        <h4>Register</h4>
        <p>If you already have an account you can <a href="{% url 'login' %}">sign in</a></p>
    </div>
</div>
<div class="row custom-login">
    <div class="col-4">
        <form method="POST">
            {% csrf_token %}
            {{ registration_form|as_bootstrap }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}