{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
<table class="table table-active table-responsive-sm table-custom">
    <thead>
        <tr>
            <th scope="col">Item</th>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    {% for item in cart_items %}
    <tr class="caption">
        <td>
            <div class="thumbimage" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')"></div>
        </td>
        <td>{{ item.product.name }}</td>
        <td>
            <form class="form-inline" method="POST" action="{% url 'adjust_cart' item.id %}">
                {% csrf_token %}
                <div class="form-group">
                    <div class="input-group">
                        <input name="quantity" type="number" min="0" max="999" class="form-control"
                            value="{{item.quantity}}">
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-secondary"><span class="glyphicon glyphicon-edit"
                        aria-hidden="true"></span>Update Cart</button>
            </form>
        </td>
        <td> €{{ item.product.price }}</td>
        <td>
            <form class="inform" method="post" action="{% url 'remove_from_cart' item.product.id %}">
                {% csrf_token %}
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="close" type="submit"><span aria-hidden="true">&times;</span></button>
                    </span>
                </div>
            </form>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="3"> </td>
        <td> Total: €{{ total }}</td>
    </tr>
</table>


<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-end">
            <a href="{% url 'checkout' %}" class="btn btn-outline-success" role="button"><span
                    class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a>
        </div>
    </div>
</div>


{% endblock %}