{% load staticfiles %}
<html>

<head>
    <title>{% block page_title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Store</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Cute+Font&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/122bb5e0c6.js"></script>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" type="text/css" />

</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark nav-decoration" style="background-color: #000000;">
        <a class="site-brand" href="/">GoS</a>
        <ul class="navbar-nav nav-justified nav-categories">
            <li class="nav-item cat-link">
                <a {% if '/Toys/' in request.path %} class='nav-link active' {% endif %}
                    href="{% url 'products' 'Toys' %}">Toys & Collectables</a>
            </li>
            <li class="nav-item cat-link">
                <a {% if '/Comics/' in request.path %} class='nav-link active' {% endif %}
                    href="{% url 'products' 'Comics' %}">Comics & Graphic Novels</a>
            </li>
            <li class="nav-item cat-link">
                <a {% if '/Books/' in request.path %} class='nav-link active' {% endif %}
                    href="{% url 'products' 'Books' %}">Books</a>
            </li>
        </ul>
        <div class="navbar-nav nav-icons">
            {% if user.is_authenticated %}
            <p class="nav-item"><a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-sign-out-alt"></i></a>
            </p>
            {% else %}
            <p class="nav-item"><a class="nav-link" href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i></a>
            </p>
            <p class="nav-item"><a class="nav-link" href="{% url 'registration' %}"><i class="fa fa-user-plus"></i></a>
            </p>
            {% endif %}
            <p class="nav-item">
                <a href="{% url 'view_cart' %}" class="nav-link">
                    <i class="nav-item fa fa-shopping-cart"></i>
                    {% if product_count > 0 %}
                    <label class="badge badge-warning">{{ product_count }}</label>
                    {% endif %}
                </a>
            </p>
        </div>
    </nav>
    <!-- END NAVBAR -->
    <!-- SEARCH BOX -->
    <div class="container-fluid search-box">
        <div class="row">
            <div class="col-12 col-md-4">
                <form action="{% url 'search' %}" method="GET">
                    <input class="form-control" type="text" placeholder="Search" name="q" aria-label="Search">
                </form>
            </div>
            <div class="col-12 col-md-4 d-flex justify-content-md-center">
                <div class="div text-center browse-all">
                    <a href="{% url 'products' %}">Browse All Products</a>
                </div>
            </div>
            {% if '/all_products/' in request.path %}
            <div class="col-2 offset-md-1 sort-products">
                <form action="{% url 'products' %}">
                    <select class="form-control form-control-sm" name="sort" id="sort" onchange="this.form.submit()">
                        <option value="Sort by cost">Sort by Price</option>
                        <option value="low-to-high">Low to high</option>
                        <option value="high-to-low">High to low</option>
                    </select>
                    <input type="submit" value="Submit" hidden>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
    <!-- END SEARCH BOX -->
    <div class="container-fluid">
        {% block arrow %} {% endblock %}
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container">
        {% block content %} {% endblock %}
    </div>
    <!-- FOOTER -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <p>Made by accident</p>
                </div>
                <div class="col-2 offset-1">
                    <a href="#">CONTACT US<a>
                </div>
                <div class="col-2">
                    <a href="#">FIND STORES<a>
                </div>

                <div class="col-4 offset-1 d-flex justify-content-between">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!-- END FOOTER -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
    {% block head_js %}
    {% endblock head_js %}

</body>

</html>