{% load staticfiles %}
<html>

<head>
    <title>{% block page_title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Store</title>
    <link
        href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Raleway:300,300i,400,400i|Cutive+Mono&display=swap"
        rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/122bb5e0c6.js"></script>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" type="text/css" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    {% block head_js %}
    {% endblock head_js %}

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Generic Online Store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}"><i
                            class="fa fa-user"></i>Profile</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}"><i
                            class="fa fa-sign-out-alt"></i>Logout</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}"><i
                            class="fas fa-sign-in-alt"></i>Login</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'registration' %}"><i
                            class="fa fa-user-plus"></i>Register</a></li>
                {% endif %}
                <li class="nav-item">
                    <a href="{% url 'view_cart' %}" class="nav-link">
                        <i class="nav-item fa fa-shopping-cart"></i> Cart
                        {% if product_count > 0 %}
                        <label class="badge badge-warning">{{ product_count }}</label>
                        {% endif %}
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1>{% block page_heading %} {% endblock %}</h1>
    </div>


    {% if messages %}
    <div class="alert alert-success">
        <div class="messages">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <div class="container">
        <div class="display">
            <form action="{% url 'search' %}" method="GET">
                <input type="text" name="q">
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
    <div class="container">
        {% block content %} {% endblock %}
    </div>
    <footer>
        <div class="container">
            <p>Made by accident</p>
        </div>
    </footer>

</body>

</html>